clouds:
  openstack:
    auth:
      auth_url: https://api.zone1.landscape.scs.community:5000
      username: k8s-clusterstacks-test-admin
      password: yolobanana
      project_name: management
      project_domain_name: k8s-clusterstacks-test
      user_domain_name: k8s-clusterstacks-test
    cacert: ca-certificates.crt
    identity_api_version: 3
    endpoint_type: internalURL
    region_name: "RegionOne"
    interface: "public"
    identity_api_version: 3
    cacert: ca-certificates.crt
