---
##########################################################
# ansible

ansible_host: {{ node_ip_v4 }}

##########################################################
# generic

device_model: {{ device_model }}
internal_interface: dummy0
network_interface: dummy0
internal_address: {{ node_ip_v4 }}

netdata_host_type: client

mgmt_address: {{ bmc_ip_v4 }}
mgmt_mac: {{ bmc_mac }}

frr_type: leaf
frr_local_as: {{ asn }}
frr_loopback_v4: {{ node_ip_v4 }}
frr_loopback_v6: {{ node_ip_v6 }}

frr_uplinks:
{% for interface in interfaces -%}
- interface: {{ interface.name }}
  remote_as: {{ interface.remote_as }}
{% endfor %}


##########################################################
# network

network_type: netplan

network_dummy_interfaces:
  - dummy0

network_ethernets_generated:
  dummy0:
      addresses:
      - {{ node_ip_v4 }}/32
      - {{ node_ip_v6 }}/128
{% for interface in interfaces %}
  {{ interface.name }}:
      mtu: 9100
      dhcp4: "no"
      dhcp6: "no"
{% endfor %}

# Merge extra configuration with the generated configuration
network_ethernets: "{{ '{{ network_ethernets_generated | combine(network_ethernets_extra|default({}), recursive=True, list_merge=\'append_rp\') }}' }}"

