---
##########################################################
# ansible

ansible_host: {{ bmc_ip_v4 }}

##########################################################
# generic

device_model: {{ device_model }}
mgmt_mac: {{ bmc_mac }}
serial_device: {{ serial_device }}
