config_db.json: |
indent({% include 'netbox/config_templates/4630-54TE-O-AC-B_config_db.json.j2' %}, width=2, indentfirst=True)

frr.conf: |
indent({% include 'netbox/config_templates/4630-54TE-O-AC-B_frr.conf.j2' %}, width=2, indentfirst=True)

