{
  "AUTO_TECHSUPPORT": {
    "GLOBAL": {
      "max_core_limit": "5.0",
      "max_techsupport_limit": "10.0",
      "rate_limit_interval": "180",
      "since": "2 days ago",
      "state": "enabled"
    }
  },
  "AUTO_TECHSUPPORT_FEATURE": {
    "bgp": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "database": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "dhcp_relay": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "dhcp_snoop": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "dot1x": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "iccpd": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "lldp": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "macsec": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "mcast": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "mgmt-framework": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "mux": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "nat": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "p4rt": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "pmon": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "radv": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "sflow": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "snmp": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "stp": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "swss": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "syncd": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "teamd": {
      "rate_limit_interval": "600",
      "state": "enabled"
    },
    "telemetry": {
      "rate_limit_interval": "600",
      "state": "enabled"
    }
  },
  "BREAKOUT_CFG": {
    "Ethernet0": {
      "brkout_mode": "1x1G"
    },
    "Ethernet1": {
      "brkout_mode": "1x1G"
    },
    "Ethernet10": {
      "brkout_mode": "1x1G"
    },
    "Ethernet11": {
      "brkout_mode": "1x1G"
    },
    "Ethernet12": {
      "brkout_mode": "1x1G"
    },
    "Ethernet13": {
      "brkout_mode": "1x1G"
    },
    "Ethernet14": {
      "brkout_mode": "1x1G"
    },
    "Ethernet15": {
      "brkout_mode": "1x1G"
    },
    "Ethernet16": {
      "brkout_mode": "1x1G"
    },
    "Ethernet17": {
      "brkout_mode": "1x1G"
    },
    "Ethernet18": {
      "brkout_mode": "1x1G"
    },
    "Ethernet19": {
      "brkout_mode": "1x1G"
    },
    "Ethernet2": {
      "brkout_mode": "1x1G"
    },
    "Ethernet20": {
      "brkout_mode": "1x1G"
    },
    "Ethernet21": {
      "brkout_mode": "1x1G"
    },
    "Ethernet22": {
      "brkout_mode": "1x1G"
    },
    "Ethernet23": {
      "brkout_mode": "1x1G"
    },
    "Ethernet24": {
      "brkout_mode": "1x1G"
    },
    "Ethernet25": {
      "brkout_mode": "1x1G"
    },
    "Ethernet26": {
      "brkout_mode": "1x1G"
    },
    "Ethernet27": {
      "brkout_mode": "1x1G"
    },
    "Ethernet28": {
      "brkout_mode": "1x1G"
    },
    "Ethernet29": {
      "brkout_mode": "1x1G"
    },
    "Ethernet3": {
      "brkout_mode": "1x1G"
    },
    "Ethernet30": {
      "brkout_mode": "1x1G"
    },
    "Ethernet31": {
      "brkout_mode": "1x1G"
    },
    "Ethernet32": {
      "brkout_mode": "1x1G"
    },
    "Ethernet33": {
      "brkout_mode": "1x1G"
    },
    "Ethernet34": {
      "brkout_mode": "1x1G"
    },
    "Ethernet35": {
      "brkout_mode": "1x1G"
    },
    "Ethernet36": {
      "brkout_mode": "1x1G"
    },
    "Ethernet37": {
      "brkout_mode": "1x1G"
    },
    "Ethernet38": {
      "brkout_mode": "1x1G"
    },
    "Ethernet39": {
      "brkout_mode": "1x1G"
    },
    "Ethernet4": {
      "brkout_mode": "1x1G"
    },
    "Ethernet40": {
      "brkout_mode": "1x1G"
    },
    "Ethernet41": {
      "brkout_mode": "1x1G"
    },
    "Ethernet42": {
      "brkout_mode": "1x1G"
    },
    "Ethernet43": {
      "brkout_mode": "1x1G"
    },
    "Ethernet44": {
      "brkout_mode": "1x1G"
    },
    "Ethernet45": {
      "brkout_mode": "1x1G"
    },
    "Ethernet46": {
      "brkout_mode": "1x1G"
    },
    "Ethernet47": {
      "brkout_mode": "1x1G"
    },
    "Ethernet48": {
      "brkout_mode": "1x25G[10G,1G]"
    },
    "Ethernet49": {
      "brkout_mode": "1x25G[10G,1G]"
    },
    "Ethernet5": {
      "brkout_mode": "1x1G"
    },
    "Ethernet50": {
      "brkout_mode": "1x25G[10G,1G]"
    },
    "Ethernet51": {
      "brkout_mode": "1x25G[10G,1G]"
    },
    "Ethernet52": {
      "brkout_mode": "1x100G[40G]"
    },
    "Ethernet56": {
      "brkout_mode": "1x100G[40G]"
    },
    "Ethernet6": {
      "brkout_mode": "1x1G"
    },
    "Ethernet7": {
      "brkout_mode": "1x1G"
    },
    "Ethernet8": {
      "brkout_mode": "1x1G"
    },
    "Ethernet9": {
      "brkout_mode": "1x1G"
    }
  },
  "CRM": {
    "Config": {
      "acl_counter_high_threshold": "85",
      "acl_counter_low_threshold": "70",
      "acl_counter_threshold_type": "percentage",
      "acl_entry_high_threshold": "85",
      "acl_entry_low_threshold": "70",
      "acl_entry_threshold_type": "percentage",
      "acl_group_high_threshold": "85",
      "acl_group_low_threshold": "70",
      "acl_group_threshold_type": "percentage",
      "acl_table_high_threshold": "85",
      "acl_table_low_threshold": "70",
      "acl_table_threshold_type": "percentage",
      "dnat_entry_high_threshold": "85",
      "dnat_entry_low_threshold": "70",
      "dnat_entry_threshold_type": "percentage",
      "fdb_entry_high_threshold": "85",
      "fdb_entry_low_threshold": "70",
      "fdb_entry_threshold_type": "percentage",
      "ipmc_entry_high_threshold": "85",
      "ipmc_entry_low_threshold": "70",
      "ipmc_entry_threshold_type": "percentage",
      "ipv4_neighbor_high_threshold": "85",
      "ipv4_neighbor_low_threshold": "70",
      "ipv4_neighbor_threshold_type": "percentage",
      "ipv4_nexthop_high_threshold": "85",
      "ipv4_nexthop_low_threshold": "70",
      "ipv4_nexthop_threshold_type": "percentage",
      "ipv4_route_high_threshold": "85",
      "ipv4_route_low_threshold": "70",
      "ipv4_route_threshold_type": "percentage",
      "ipv6_neighbor_high_threshold": "85",
      "ipv6_neighbor_low_threshold": "70",
      "ipv6_neighbor_threshold_type": "percentage",
      "ipv6_nexthop_high_threshold": "85",
      "ipv6_nexthop_low_threshold": "70",
      "ipv6_nexthop_threshold_type": "percentage",
      "ipv6_route_high_threshold": "85",
      "ipv6_route_low_threshold": "70",
      "ipv6_route_threshold_type": "percentage",
      "mpls_inseg_high_threshold": "85",
      "mpls_inseg_low_threshold": "70",
      "mpls_inseg_threshold_type": "percentage",
      "mpls_nexthop_high_threshold": "85",
      "mpls_nexthop_low_threshold": "70",
      "mpls_nexthop_threshold_type": "percentage",
      "nexthop_group_high_threshold": "85",
      "nexthop_group_low_threshold": "70",
      "nexthop_group_member_high_threshold": "85",
      "nexthop_group_member_low_threshold": "70",
      "nexthop_group_member_threshold_type": "percentage",
      "nexthop_group_threshold_type": "percentage",
      "polling_interval": "300",
      "snat_entry_high_threshold": "85",
      "snat_entry_low_threshold": "70",
      "snat_entry_threshold_type": "percentage"
    }
  },
  "DEVICE_METADATA": {
    "localhost": {
      "buffer_model": "traditional",
      "default_bgp_status": "up",
      "default_pfcwd_status": "disable",
      "docker_routing_config_mode": "split",
      "frr_mgmt_framework_config": "true",
      "hostname": "{{ device.name }}",
      "hwsku": "Accton-AS4630-54TE",
      "mac": "{{ mac_addr }}",
      "platform": "x86_64-accton_as4630_54te-r0",
      "synchronous_mode": "enable",
      "type": "{{ device.role.name }}"
    }
  },
  "DOT1X_INITIAL": {
    "GLOBAL": {
      "ports": "Ethernet0,Ethernet1,Ethernet10,Ethernet11,Ethernet12,Ethernet13,Ethernet14,Ethernet15,Ethernet16,Ethernet17,Ethernet18,Ethernet19,Ethernet2,Ethernet20,Ethernet21,Ethernet22,Ethernet23,Ethernet24,Ethernet25,Ethernet26,Ethernet27,Ethernet28,Ethernet29,Ethernet3,Ethernet30,Ethernet31,Ethernet32,Ethernet33,Ethernet34,Ethernet35,Ethernet36,Ethernet37,Ethernet38,Ethernet39,Ethernet4,Ethernet40,Ethernet41,Ethernet42,Ethernet43,Ethernet44,Ethernet45,Ethernet46,Ethernet47,Ethernet48,Ethernet49,Ethernet5,Ethernet50,Ethernet51,Ethernet52,Ethernet56,Ethernet6,Ethernet7,Ethernet8,Ethernet9"
    }
  },
  "FEATURE": {
    "bgp": {
      "auto_restart": "enabled",
      "has_global_scope": "False",
      "has_per_asic_scope": "True",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "database": {
      "auto_restart": "always_enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "True",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "always_enabled"
    },
    "dhcp_relay": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "dhcp_snoop": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "disabled"
    },
    "dot1x": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "iccpd": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "lldp": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "True",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "kube",
      "state": "enabled"
    },
    "macsec": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "disabled"
    },
    "mcast": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "mgmt-framework": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "mux": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "always_disabled"
    },
    "nat": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "p4rt": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "pmon": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "kube",
      "state": "enabled"
    },
    "radv": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "kube",
      "state": "enabled"
    },
    "sflow": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "snmp": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "kube",
      "state": "enabled"
    },
    "stp": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "swss": {
      "auto_restart": "enabled",
      "has_global_scope": "False",
      "has_per_asic_scope": "True",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "syncd": {
      "auto_restart": "enabled",
      "has_global_scope": "False",
      "has_per_asic_scope": "True",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "teamd": {
      "auto_restart": "enabled",
      "has_global_scope": "False",
      "has_per_asic_scope": "True",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "local",
      "state": "enabled"
    },
    "telemetry": {
      "auto_restart": "enabled",
      "has_global_scope": "True",
      "has_per_asic_scope": "False",
      "has_timer": "False",
      "high_mem_alert": "disabled",
      "set_owner": "kube",
      "state": "enabled"
    }
  },
  "FLEX_COUNTER_TABLE": {
    "ACL": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "disable",
      "POLL_INTERVAL": "10000"
    },
    "BUFFER_POOL_WATERMARK": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "PFCWD": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "PG_DROP": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "PG_WATERMARK": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "PORT": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "PORT_BUFFER_DROP": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "QUEUE": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "QUEUE_WATERMARK": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    },
    "RIF": {
      "FLEX_COUNTER_DELAY_STATUS": "false",
      "FLEX_COUNTER_STATUS": "enable"
    }
  },
  "KDUMP": {
    "config": {
      "enabled": "true",
      "memory": "0M-2G:256M,2G-4G:320M,4G-8G:384M,8G-:448M",
      "num_dumps": "3"
    }
  },
  "MGMT_INTERFACE": {
    "{{ mgmt_interface }}|{{ mgmt_ip }}/{{ mgmt_subnet }}": {
      "gwaddr": "{{ mgmt_gwaddr }}"
    }
  }
  "MGMT_PORT": {
    "{{ mgmt_interface }}": {
      "admin_status": "up",
      "alias": "{{ mgmt_interface }}",
      "description": "Management Port"
    }
  },
  "NTP_SERVER": {
    {% for server in ntp_servers %}
    "{{ server }}": {}{% if not loop.last %},{% endif %}
    {% endfor %}
  }
  "PORT": {
    {% for port, config in ports.items() %}
    "{{ port }}": {
      "admin_status": "{{ config.admin_status }}",
      "alias": "{{ config.alias }}",
      "autoneg": "{{ config.autoneg }}",
      "description": "{{ config.description }}",
      "index": "{{ config.index }}",
      "lanes": "{{ config.lanes }}",
      "mtu": "{{ config.mtu }}",
      "parent_port": "{{ config.parent_port }}",
      "speed": "{{ config.speed }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "REST_SERVER": {
    "default": {
      "client_auth": "user"
    }
  },
  "SNMP": {
    "LOCATION": {
      "Location": "public"
    }
  },
  "SNMP_COMMUNITY": {
    {% for community, config in snmp_communities.items() %}
    "{{ community }}": {
        "TYPE": "{{ config.type | upper }}",
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "STATIC_ROUTE": {
    {% for route, config in static_routes.items() %}
    "{{ route }}": {
      "blackhole": "{{ config.blackhole }}",
      "distance": "{{ config.distance }}",
      "ifname": "{{ config.ifname }}",
      "nexthop": "{{ config.nexthop }}",
      "nexthop-vrf": "{{ config.nexthop_vrf }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "SYSLOG_SERVER": {
    {% for server in syslog_servers %}
    "{{ server }}": {}
    {% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "VERSIONS": {
    "DATABASE": {
      "VERSION": "version_2_0_4"
    }
  },
  "VLAN": {
    {% for vlan_name, vlan_info in vlans.items() %}
    "{{ vlan_name }}": {
      "vlanid": "{{ vlan_info.vlanid }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "VLAN_INTERFACE": {
    {% for vlan, ip in vlan_interfaces.items() %}
    "{{ vlan }}": {}
    {% if ip %}
    "{{ vlan }}|{{ ip }}": {}
    {% endif %}
    {% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "VLAN_MEMBER": {
    {% for key, value in vlan_members.items() %}
    "{{ key }}": {
      "tagging_mode": "{{ value.tagging_mode }}"
    }
    {% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "XCVRD_LOG": {
    "Y_CABLE": {
      "log_verbosity": "notice"
    }
  }
}
