config_db.json: |
{% filter indent(width=2) %}
{% include 'netbox/config_templates/4630-54TE-O-AC-B_config_db.json.j2' %}
{% endfilter %}

frr.conf: |
{% filter indent(width=2) %}
{% include 'netbox/config_templates/4630-54TE-O-AC-B_frr.conf.j2' %}
{% endfilter %}