{% for item in groups[isc_dhcp_mgmt_static_nodes_group] | sort %}
# Host: {{ item }}
{% if hostvars[item]['mgmt_address'] is defined and hostvars[item]['mgmt_mac'] is defined %}
host {{ item }} {
  hardware ethernet {{ hostvars[item]['mgmt_mac'] }};
  server-name "{{ item }}.{{ management_domain }}";
  option host-name "{{ item }}";
  fixed-address {{ hostvars[item]['mgmt_address']  }};
{% if sonic_install %}
  option default-url "{{ sonic_image_url }}";
  {% if sonic_ztp %}
  option bootfile-name "{{ sonic_ztp }}";
  {% endif %}
{% endif %}
}
{% endif %}
{% endfor %}

